* { 
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;         /* navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura. */ 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

/* Representantes / Descontos / Prazos  */

body {
    background: -webkit-gradient(linear, left top, left bottom, from(#102347cb), to(#181818)) fixed;
}

.loja-container-header {
    margin: 0 auto;
    max-width: max-content;
    padding: 30px 0px;
}

.loja-header a {
    text-decoration: none;
    color: #ffff;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
}

.loja-header a:hover {
    background: #384459;
}

.loja-container-form, table {
    margin: 0 auto;
    max-width: max-content;
}

.loja-form, table {
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    border-radius: 10px;
    padding: 20px;
}

.titulo-loja h1 {
    background-color: #ffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.loja-form-input {
    display: block;
    margin-top: 5px;
    outline: none;                   /* tira o style */ 
    color: #B0C4DE;
    background-color: #1b2531;
    border: 1px solid #384459;
    width: 100%;
    border-radius: 5px;
    padding: 5px 20px;
}

.loja-form-input::placeholder {
    color: #B0C4DE; 
}

.loja-form-input:hover {
    background-color: #384459;
}


.loja-form-input[type="submit"] {
    cursor: pointer;
}

.loja-msg-azul {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    color: #fff;
    padding: 25px;
    border-radius: 5px;
    height: 50px;
    margin: 20px 0px;
}

.loja-msg-vermelho {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B22222;
    color: #fff;
    border: 2px solid #800000;
    padding: 25px;
    border-radius: 5px;
    height: 50px;
    margin: 20px 0px;
}

.loja-container-tabela {
    margin: 0 auto;
    max-width: max-content;
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    border: 1px solid #092756;
    padding: 15px;
    border-radius: 15px;
    margin-top: 10px;
}

.loja-table {
    width: 100%;
    color: #B0C4DE;
    border-collapse: collapse;
}

.loja-table thead th {
    padding: 5px;
}

.loja-table tbody tr {
    height: 40px;
    border-top: 1px solid #5f6e82; 
}

.loja-table tbody tr:hover {
    background-color: #384459;
}

.loja-table tbody td {
    text-align: center;
    padding: 6px;
}

.loja-table-rep {
    text-align: left;
}

