/* * { 
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
} */


/* body {
    background: #c7f4f7 url(../img/fundo-cliente.jpg) no-repeat;
} */

/* .titulo-loja h1 {
    border: 1px solid gray;
    border-radius: 7px;
    background-color: rgba(141, 139, 139, 0.3);
    padding: 5px;
    text-align: center;
} */

/* .loja-container-form {
    margin: 0 auto;
    max-width: max-content;
} */

/* .loja-form {
    border: 1px solid #384459;
    border-radius: 10px;
    padding: 20px;
} */

/* .loja-titulo h1 {
    background-color: #B22222;
    color: #ffff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
} */

/* .loja-form-input {
    display: block;                     
    margin-top: 5px;
    outline: none;                 
    color: #000103;
    border: 1px solid #384459;
    width: 100%;
    border-radius: 5px;
    padding: 5px 20px;
} */

/* .loja-form-input::placeholder {
    color: #000103;
} */

/* .loja-form-input:hover { */
    /* background-color: rgba(141, 139, 139, 0.3); */
    /* color: #000103; */
/* } */

/* .loja-form-input[type="submit"] {
    cursor: pointer;
    color: #181818;
} */

/* .loja-form-id {
    color: #B0C4DE;
    padding: 5px 20px;
} */

/* .loja-msg-azul {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    color: #fff;
    padding: 25px;
    border-radius: 5px;
    height: 50px;
    margin: 20px 0px;
} */

/* .loja-msg-vermelho {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B22222;
    color: #fff;
    border: 2px solid #800000;
    padding: 25px;
    border-radius: 5px;
    height: 50px;
    margin: 20px 0px;
} */

/* .loja-container-tabela {
    margin: 0 auto;
    max-width: max-content;
    border: 1px solid #092756;
    padding: 15px;
    border-radius: 15px;
    margin-top: 10px;
} */

/* .loja-table {
    width: 100%;
    color: #B0C4DE;
    border-collapse: collapse;
} */

/* .loja-table thead th {
    padding: 5px;
    color: black;
} */

/* .loja-table tbody tr {
    height: 40px;
    border-top: 1px solid #5f6e82; 
    color: black;
} */

/* .loja-table tbody tr:hover { */
    /* background-color: rgba(141, 139, 139, 0.3); */
/* } */

/* .loja-table tbody td {
    text-align: center;
    padding: 6px;
} */

/* .loja-table-rep {
    text-align: left;
} */
