* { 
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;         /* navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura. */ 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    background: #c7f4f7 url(../img/fundo-sol-em-baixo.png) no-repeat;
}

.esquerda {
    width: 660px;
    height: 100%; 
    float: left;
    margin: 15px 4px 0px 15px;
}

.conteudo-esquerdo1 {
    width: max-content;
    height: 100%; 
    margin-bottom: 10px;
    float: left;
}

.conteudo-esquerdo2 {
    width: max-content;
    height: 100%; 
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 7px;
    float: left;
}

.conteudo-esquerdo3 {
    background: fbfdd1;
    width: max-content;
    height: 328px; 
    margin-bottom: 5px;
    float: left;
}

.container-finalizar {
    margin-top: 45px;
    border: 1px solid rgb(134, 134, 134);
    border-radius: 5px;
    width: 280px;
    float: left;
 }

/* Tabela */ 

.loja-container-tabela {
    width: max-content;
    /* width: 50%; */
    background: #fbfdd1;
    border: 1px solid #092756;
    /* padding: 5px 5px 0px 5px; */
    margin-top: 5px;
    border-radius: 7px;
    float: left;
}

.loja-table {
    width: max-content;
    /* width: 100%; */
    color: black;
    border-collapse: collapse;
    background-color: #fbfdd1;
    float: left;
    border-radius: 7px;
}

/* .loja-table thead th {
    padding: 0px 16px 5px 16px;
} */

.loja-table tbody tr {
    height: 10px;
    border-top: 1px solid #5f6e82; 
}

.loja-table tbody tr:hover {
    background-color: #989b5b59;
}

.loja-table tbody td {
    text-align: center;
    padding: 0px 12px 0px 12px;
}

/* .coluna-valor {
    width: 120px;
} */

/* Ajustes de campos */

#nome-produto {
    text-align: left;
}

.container-produto {
    margin: 10px;
}

#cod_p {
    width: 115.7px;
}

#prd {
    width:420px;
    margin-left: 58px;
}

#qt {
    width: 35px;
}

#uni {
    margin-left: 36px;
    width: 120px;
}

#total{
    width: 150px;
}
#excluir {
    padding: 0px;
    padding-bottom: 5px;
}

#qt_itens {
    margin-left: 55px;
}

/* Ícones de formas de pagamento */ 

#lupa {
    background: url(../img/lupa.svg) no-repeat left;
    padding-top: 10px;
}

#inserir {
    background: url(../img/inserir.svg) no-repeat left;
    padding-top: 10px;
}

#lupa:hover, #inserir:hover {
    border: 1px solid rgb(134, 134, 134);
    border-radius: 5px;
}

#lupa, #inserir {
    cursor: pointer;
    border: 0px;
    padding-left: 5px;
}

#final {
    background: url(../img/sacolas-raio-de-sol-70px.svg) no-repeat left;
    cursor: pointer;
    padding: 30px;
    width: 200px;
    border: 0px;
    margin-left: 60px;
} 