* { 
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 0px 20px; 
}

ul li a:hover {
    background-color:  rgba(141, 139, 139, 0.3);
}

nav {
    background-color: #ECECEC;
    height: 25px;
}

ul#ul-principal {
    background-color: blue;
    width: 90%;
    margin: auto;
}

.li-p {
    line-height: 25px;
    float: left;
}

ul li ul li {
    background-color: #ECECEC;
}

.ul-caixa, .ul-cadastros, .ul-relatorios, .ul-estoque {
    display: none;
}