* { 
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.loja-container {
    height: 30px;
    background-color:  rgba(141, 139, 139, 0.3);
    padding-top: 10px;
    border: 1px solid #5f6e82; 
    border-radius: 5px;
}

.loja-logo img {
    max-width: 100px;
    float: right;
    padding-bottom: 15px;
    margin-right: 30px;
    /* margin-bottom: 5px; */

}

/* .loja-menu {
   float: right;
} */

.loja-menu ul li {
    display: inline;
    
}

.loja-menu ul li a {
    color: black;
    text-decoration: none;
    padding: 0px 20px;
}

.loja-menu a:hover {
    color: blue;
    font-weight: bold;
}
